@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --color-primary: #22254b;
    --color-secondary: #373b69;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-primary);
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-secondary);
}

.search {
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-primary);
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline: none;
    background-color: var(--color-primary);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    margin: 1rem;
    width: 300px;
    background-color: var(--color-secondary);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img {
    width: 100%;
}

.movie-info {
    padding: 0.5rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #eee;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    font-size: 18px;
}

.movie-info span {
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: 700;
    background-color: var(--color-primary);
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    max-height: 100%;
    padding: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transform: translateY(101%);
    transition: transform 0.4s ease-in-out;
}

.movie:hover .overview {
    transform: translateY(0);
}

.overview h3 {
    margin-bottom: 5px;
    text-align: center;
}

.overview p {
    text-align: justify;
}
